apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app
  labels:
    app: weather-ml-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weather-ml-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
      - name: weather-ml-app
        image: afell300/weather-ml-app:latest
        ports:
        - containerPort: 5000
        imagePullPolicy: Always


