apiVersion: v1
kind: Service
metadata:
  name: weather-ml-app-service
spec:
  type: NodePort
  selector:
    app: weather-ml-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
