name: CD pipeline 
on: 
 workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs: 
  Deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps: 
      - name: Checkout code 
        uses: actions/checkout@v1

      - name: Apply Kubernetes Deployment & Service
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
      
      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/weather-ml-app \
            weather-ml-app=${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:v2
          kubectl rollout status deployment/weather-ml-app
