name: CI pipeline

on:
  push:
    branches:
      - main
      - bugfix
  pull_request:
    branches:
      -main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    # Checkout Repo
    - name: Checkout code
      uses: actions/checkout@v3

    # Setup Python
    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Install dependencies
    - name: Install Dependencies 
      run: | 
        python -m pip install -r requirements.txt

    - name: Run smoke test 
      run: | 
        source tests/
        python3 -m unittest smoke_test.py

    - name: Run unit test 
      run: | 
        source tests/
        python3 -m unittest unit_test.py

    - name: Run integration test 
      run: | 
        source tests/
        python3 -m unittest integration_test.py

    - name: Docker Login 
      uses: docker/login-action@v3 
      with: 
        username: ${{ secrets.DOCKERHUB_USERNAME }} 
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Docker Image 
      uses: docker/build-push-action@v5 
      with: 
        context: . 
        push: true 
        tags: ${{secrets.DOCKERHUB_USERNAME}}/weather-ml-app:latest
